@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --var-headerFontColor: #757575;
    --var-headerFontColorHover: #f45d48;
    --var-backgroundSecundary: #078080;
    --var-fontSecundary: "Open Sans", serif;
    --var-fontPrimary: "Montserrat", serif;
}

body{
    overflow-x: hidden;
}

.section-top-home{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: left center;
    animation: borderSection 1s ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0vh cover 100vh;
    overflow: hidden;
}
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.overlayer{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    animation: borderSection 1s ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0vh cover 100vh;
}
@keyframes borderSection {
    from{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        width: 100%;
        transform: translateX(0%);
    }
    to{
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
        width: 120%;
        transform: translateX(-10%);
    }
}

#containerBoxServices{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
    height: max-content;
    margin-top: 80px;
    margin-bottom: 150px;
}
#containerBoxServices a{
    height: 400px;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}
#containerBoxServices a span{
    font-family: var(--var-fontPrimary);
    font-size: 25pt;
    color: white;
    font-weight: 700;
    width: 100%;
    padding-top: 50px;
    text-align: left;
    position: absolute;
    top: 40px;
    left: 30px;
}
#containerBoxServices a img{
    position: absolute;
    bottom: -40px;
    width: 100%;
}
#containerBoxServices{
    animation: surgeUp 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}
#containerBoxServices a:nth-child(2){
    animation: slideDown 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 32%;
    margin-top: 30px;
}
@keyframes surgeUp {
    0%{
        opacity: 0.5;
        transform: translateY(200px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slideDown {
    0%{
        margin-top: 0px;
    }
    100%{
        margin-top: 30px;
    }
}

#containerBoxServices a:hover{
    background-color: #dc3b26;
}

#containerBoxServices a:hover img{
    scale: 1.1;
    transition: 0.2s;
}

@media (max-width: 1300px) {
    #containerBoxServices a{
        height: 300px;
        width: 200px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: black;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.2s;
        position: relative;
    }

    #containerBoxServices{
        margin-top: 30px;
    }
    #containerBoxServices a span{
        font-size: 15pt;
        padding-top: 40px;
    }
    #containerBoxServices a img{
        position: absolute;
        bottom: -40px;
        width: 100%;
    }
    #containerBoxServices{
        animation: surgeUp 2s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 30%;
    }
    #containerBoxServices a:nth-child(2){
        animation: slideDown 2s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 30%;
        margin-top: 30px;
    }
}
@media (max-width: 1100px) {
    #containerBoxServices a{
        height: 200px;
        width: 150px;
        padding: 10px;
    }

    #containerBoxServices a span{
        font-size: 12pt;
        padding-top: 10px;
        left: 10px;
        top: 20px;
    }
    #containerBoxServices a img{
        position: absolute;
        bottom: -10px;
        width: 100%;
    }
}
@media (max-width: 640px) {
    #containerBoxServices{
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    #containerBoxServices a{
        height: 400px;
        width: 300px;
        padding: 30px;
    }
    #containerBoxServices a span{
        font-family: var(--var-fontPrimary);
        font-size: 20pt;
        color: white;
        font-weight: 700;
        width: 100%;
        padding-top: 50px;
        text-align: left;
        position: absolute;
        top: 40px;
        left: 30px;
    }
    #containerBoxServices a img{
        position: absolute;
        bottom: -40px;
        width: 100%;
    }
    #containerBoxServices{
        animation: none;
    }
    #containerBoxServices a:nth-child(2){
        animation: none;
        margin-top: 0px;
    }
}
@media (max-width: 570px) {
    #containerBoxServices{
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    #containerBoxServices a{
        height: 300px;
        width: 200px;
        padding: 20px;
    }
    #containerBoxServices a span{
        font-family: var(--var-fontPrimary);
        font-size: 20pt;
        color: white;
        font-weight: 700;
        width: 100%;
        padding-top: 50px;
        text-align: left;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    #containerBoxServices a img{
        position: absolute;
        bottom: -30px;
        width: 100%;
    }
}


#gridBoxesNumberHome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    width: 90%;
    max-width: 1400px;
}
#gridBoxesNumberHome section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: max-content;
    height: max-content;
}

#gridBoxesNumberHome section div{
    height: 400px;
    width: 205px;
    padding: 30px;
    position: relative;
    border-radius: 20px;
    animation: surgeUp 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}
#gridBoxesNumberHome section div:nth-child(1) span:nth-child(1) img{
    width: 70%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
}
#gridBoxesNumberHome section div:nth-child(2) span:nth-child(1) img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#gridBoxesNumberHome section div:nth-child(1){
    background-color: var(--var-backgroundSecundary);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}


#gridBoxesNumberHome > div:nth-child(2){
    height: 400px;
    width: 410px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
#gridBoxesNumberHome > div:nth-child(2) span:nth-child(1){
    font-family: var(--var-fontSecundary);
    color: white;
    font-size: 10pt;
    background-color: var(--var-headerFontColorHover);
    padding: 2px 8px;
    border-radius: 20px;
}

.numberSectionStyleHome{
    font-family: var(--var-fontPrimary);
    font-size: 35pt;
    font-weight: 600;
}
.descNumberSectionHome{
    font-family: var(--var-fontSecundary);
    font-size: 12pt;
    font-weight: 500;
}

#gridBoxesNumberHome section div:nth-child(1) .numberSectionStyleHome, #gridBoxesNumberHome section div:nth-child(1) .descNumberSectionHome{
    color: white;
}
#gridBoxesNumberHome section div:nth-child(2) .numberSectionStyleHome{
    color: var(--var-headerFontColorHover);
}
#gridBoxesNumberHome section div:nth-child(2) .descNumberSectionHome{
    color: var(--var-headerFontColor);
}


#gridBoxesNumberHome > div:nth-child(2) span:nth-child(2) p:nth-child(1){
    color: var(--var-headerFontColorHover);
}
#gridBoxesNumberHome > div:nth-child(2) span:nth-child(2) p:nth-child(2){
    color:var(--var-headerFontColor);
    font-family: var(--var-fontSecundary);
    font-size: 12pt;
    font-weight: 500;
}



@media (max-width: 1200px) {
    #gridBoxesNumberHome{
        margin-top: 30px;
    }
    #gridBoxesNumberHome section div{
        height: 300px;
        width: 150px;
        padding: 20px;
    }
    #gridBoxesNumberHome > div:nth-child(2){
        height: 300px;
        width: 300px;
        padding: 20px;
    }
}
@media (max-width: 800px) {
    #gridBoxesNumberHome{
        flex-direction: column;
    }
    
    #gridBoxesNumberHome section div{
        height: 300px;
        width: 200px;
        padding: 20px;
        position: relative;
        border-radius: 20px;
    }
    #gridBoxesNumberHome > div:nth-child(2){
        height: 200px;
        width: 480px;
        padding: 20px;
    }
}
@media (max-width: 600px) {
    #gridBoxesNumberHome section div{
        height: 200px;
        width: 100px;
        padding: 10px;
    }
    #gridBoxesNumberHome > div:nth-child(2){
        height: 130px;
        width: 240px;
        padding: 10px;
    }
    .numberSectionStyleHome{
        font-size: 20pt;
    }
    .descNumberSectionHome{
        font-size: 11pt;
    }
    #gridBoxesNumberHome > div:nth-child(2) span:nth-child(2) p:nth-child(2){
        font-size: 11pt;
    }
}















@keyframes surgeSlide {
    from{
        scale: 0.8;
        opacity: 0.5;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

.slide {
    position: relative;
    width: 200px;
    height: 300px;
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-image {
    position: absolute;
    width: 100%;
    height: 90%;
    transition: transform 0.5s ease, left 0.5s ease;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.021);
}

.container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slide.open .container-image {
    transform: rotate(calc(var(--angle) * 1deg)) translateX(0%);
    left: calc(var(--position) * 30px);
    filter: brightness(0.6);
    transition: transform 0.5s ease, left 0.5s ease, opacity 0.5s ease;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.082);
}

.slide.open .container-image:nth-child(n+6) {
    filter: brightness(1);
}

.slide.open .container-image:hover {
    transform: rotate(0deg) translateX(20px) scale(1.1);
    z-index: 30;
    filter: brightness(1);
}

@media (max-width: 570px){
    .slide {
        position: relative;
        width: 150px;
        height: 250px;
        cursor: pointer;
        padding-top: 80px;
        padding-bottom: 0px;
    }
    
    .container-image {
        position: absolute;
        width: 100%;
        height: 60%;
        transition: transform 0.5s ease, left 0.5s ease;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.021);
    }
    
    .container-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .slide.open .container-image {
        transform: rotate(calc(var(--angle) * 0.8deg)) translateX(0%);
        left: calc(var(--position) * 10px);
        filter: brightness(0.6);
        transition: transform 0.5s ease, left 0.5s ease, opacity 0.5s ease;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.082);
    }
    
    .slide.open .container-image:nth-child(n+6) {
        filter: brightness(1);
    }
    
    .slide.open .container-image:hover {
        transform: rotate(0deg) translateX(20px) scale(1.1);
        z-index: 30;
        filter: brightness(1);
    }
}

.section-green-styled a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    font-family: var(--var-fontPrimary);
    font-size: 11pt;
    font-weight: 500;
    color: var(--var-mainColor);
    border-radius: 20px;
}
.section-green-styled a:hover{
    color: white;
    background-color: transparent;
}