@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --var-headerFontColor: #757575;
    --var-headerFontColorHover: #f45d48;
    --var-mainColor: #078080;
    --var-gradientSectionGreenStyled: #141515;
    --var-backgroundFooter: #111111;
    --var-fontSecundary: "Open Sans", serif;
    --var-fontPrimary: "Montserrat", serif;
    --var-maxWidthSections: 1440px;
}

.header-main-page{
    position: fixed;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px - 30px);
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
    border-radius: 40px;
    z-index: 10;
}


.header-main-page a img{
    height: 60px;
}

.header-main-page nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-main-page nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.header-main-page nav ul li a{
    text-decoration: none;
    color: var(--var-headerFontColor);
    font-family: var(--var-fontSecundary);
    font-size: 11pt;
    font-weight: 500;
}
.header-main-page nav ul li a:hover{
    color: var(--var-headerFontColorHover);
}

.container-select-lang{
    position: absolute;
    right: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btt-lang{
    background: none;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.container-flag-lang{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: none;
    border: none;
}
.container-flag-lang img{
    height: 20px;
    width: 20px;
}
.container-flag-lang p{
    font-family: var(--var-fontPrimary);
    font-size: 10pt;
    font-weight: 600;
    color: var(--var-headerFontColor);
}
.container-flag-lang p:hover{
    color: var(--var-headerFontColorHover);
}
.icon-open-lang{
    cursor: pointer;
}

.actived-lang{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.btt-hamburger{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    border: none;
}
.btt-hamburger img{
    height: 30px;
    width: 30px;
}

.open-hamburger{
    display: none;
}

.menu-hamburger{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    height: 80vh;
    min-height: calc(max-content + 60px);
    position: absolute;
    top: calc(100% + 20px);
    right: -120%;
    transition: 0.3s;
    background-color: white;
    border-radius: 20px;
    width: calc(100% - 60px);
}

/*responsividade do header universal*/
@media (max-width: 700px) {
    .header-main-page{
        gap: 20px;
    }
    .header-main-page a img{
        height: 30px;
    }
    .btt-hamburger{
        display: flex;
        position: absolute;
        right: 15px;
    }
    .menu-hamburger{
        display: flex;
    }

    .header-main-page nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .header-main-page nav ul{
        flex-direction: column;
    }
    .header-main-page nav ul li:hover{
        transform: translateX(20px);
    }
    
    .container-select-lang{
        position: absolute;
        right: 30px;
        top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}


/*styles top*/
.section-top-main{
    height: 70vh;
    background-color: var(--var-mainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: borderSectionTopMain 2s ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0vh cover 100vh;
}
@keyframes borderSectionTopMain {
    from{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    to{
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
    }
}
.desc-section-home {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 90%;
    gap: 30px;
    filter: brightness(1) !important;
    opacity: 1;
    transition: 5s;
}

.desc-section-home h1{
    color: white;
    font-family: var(--var-fontPrimary);
    font-size: 35pt;
    font-weight: 500;
}
@keyframes borderSection {
    from{
        border-bottom: 0%;
    }
    to{
        border-bottom: 20%
    }
}
.desc-section-home p{
    color: white;
    font-family: var(--var-fontSecundary);
    font-size: 15pt;
    font-weight: 300;
    max-width: 550px;
}

@media (max-width: 460px){
    .desc-section-home h1{
        font-size: 20pt;
    }
    .desc-section-home p{
        font-size: 11pt;
    }
}

/*clear section container*/
.clear-section{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-model-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--var-mainColor);
    border-radius: 20px;
    padding: 0px 100px;
    height: 50vh;
    width: calc(90% - 200px);
    max-width: 1000px;
    margin-top: calc(100vh - 80vh);
    margin-bottom: calc(100vh - 80vh);
    gap: 30px;
    animation: surgeContainer 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

@keyframes surgeContainer {
    from{
        opacity: 0.3;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.container-model-one h2{
    font-family: var(--var-fontPrimary);
    font-size: 20pt;
    font-weight: 500;
    text-align: center;
    color: white;
    width: 400px;
}
.container-model-one p{
    font-family: var(--var-fontSecundary);
    font-size: 12pt;
    max-width: 90%;
    font-weight: 300;
    color: white;
    text-align: center;
}
.container-model-one a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    font-family: var(--var-fontPrimary);
    font-size: 11pt;
    font-weight: 500;
    color: var(--var-mainColor);
    border-radius: 20px;
}
.container-model-one a:hover{
    color: white;
    background-color: transparent;
}
@media (max-width: 800px) {
    .container-model-one{
        border-radius: 20px;
        padding: 0px 80px;
        height: 40vh;
        width: calc(90% - 160px);
        margin-top: calc(100vh - 80vh);
        margin-bottom: calc(100vh - 80vh);
    }
}
@media (max-width: 572px) {
    .container-model-one h2{
        font-size: 18pt;
    }
    .container-model-one p{
        font-family: var(--var-fontSecundary);
        font-size: 12pt;
        font-weight: 300;
        color: white;
        text-align: center;
    }
    .container-model-one a{
        font-size: 10pt;
    }
}
@media (max-width: 490px) {
    .container-model-one{
        border-radius: 20px;
        padding: 10px 40px;
        height: 40vh;
        width: calc(90% - 80px);
        margin-top: calc(100vh - 90vh);
        margin-bottom: calc(100vh - 90vh);
    }
    .container-model-one h2{
        width: 90%;
        font-size: 13pt;
    }
    .container-model-one p{
        font-family: var(--var-fontSecundary);
        font-size: 10pt;
        font-weight: 300;
        color: white;
        text-align: center;
    }
    .container-model-one a{
        font-size: 10pt;
    }
}


.container-model-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.name-section{
    font-family: var(--var-fontPrimary);
    color: var(--var-mainColor);
    font-size: 12pt;
    font-weight: 500;
}
.main-desc-by-section{
    font-family: var(--var-fontPrimary);
    font-size: 25pt;
    font-weight: 600;
    color: black;
}
.main-text-by-section{
    font-family: var(--var-fontSecundary);
    font-size: 13pt;
    color: black;
    font-weight: 400;
    max-width: 500px;
}
@media (max-width: 1300px) {
    .name-section{
        font-family: var(--var-fontPrimary);
        color: var(--var-mainColor);
        font-size: 11pt;
        font-weight: 500;
    }
    .main-desc-by-section{
        font-family: var(--var-fontPrimary);
        font-size: 15pt;
        font-weight: 600;
        color: black;
    }
    .main-text-by-section{
        font-family: var(--var-fontSecundary);
        font-size: 11pt;
        color: black;
        font-weight: 400;
        max-width: 500px;
    }
}
@media (max-width: 570px) {
    .name-section{
        font-family: var(--var-fontPrimary);
        color: var(--var-mainColor);
        font-size: 10pt;
        font-weight: 500;
    }
    .main-desc-by-section{
        font-family: var(--var-fontPrimary);
        font-size: 15pt;
        font-weight: 600;
        color: black;
    }
    .main-text-by-section{
        font-family: var(--var-fontSecundary);
        font-size: 10pt;
        color: black;
        font-weight: 400;
        max-width: 90%;
    }
}




/*estilo da section verde estilizada*/
.section-green-styled{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, var(--var-mainColor), var(--var-gradientSectionGreenStyled));
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 150px;
}
.section-green-styled::before{
    content: "";
    position: relative;
    top: -70px;
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to top, var(--var-gradientSectionGreenStyled), transparent);
}
.clearFont{
    color: white !important;
}




/*culture Home*/
.container-all-content-cultureHome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    max-width: 1400px;
    margin-top: 80px;
    animation: surgeContainer 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}
.box-novidades{
    height: 400px;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--var-mainColor);
    position: relative;
}
.box-novidades:hover{
    background-color: #dc3b26;
}
.box-novidades p{
    font-family: var(--var-fontSecundary);
    color: white;
    font-size: 15pt;
    font-weight: 500;
}
.box-novidades div{
    width: calc(100% - 60px);
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 30px;
    border-radius: 20px;
}
.box-novidades div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.box-novidades:nth-child(2){
    height: 400px;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    background-color: var(--var-mainColor);
    position: relative;
}
.box-novidades:nth-child(2):hover{
    background-color: #dc3b26;
}
.box-novidades:nth-child(2) div{
    width: calc(100% - 60px);
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 30px;
    border-radius: 20px;
}
.clear-section-home{
    margin-bottom: 400px
}

@media (max-width: 1260px) {
    .container-all-content-cultureHome{
        margin-top: 70px;
    }
    .box-novidades{
        height: 300px;
        width: 200px;
        padding: 20px;
        border-radius: 20px;
    }
    .box-novidades p{
        font-size: 13pt;
    }
    .box-novidades div{
        width: calc(100% - 40px);
        height: 200px;
        bottom: -20px;
        left: 20px;
    }
    .box-novidades:nth-child(2){
        height: 300px;
        width: 200px;
        padding: 20px;
        border-radius: 20px;
    }
    .box-novidades:nth-child(2) div{
        width: calc(100% - 40px);
        height: 200px;
        display: flex;
        top: -20px;
        left: 20px;
    }
}
@media (max-width: 865px){
    .container-all-content-cultureHome{
        margin-top: 70px;
        width: 500px;
        flex-direction: column;
    }
    .box-novidades{
        height: 200px;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        flex-direction: row;
    }
    .box-novidades p{
        font-size: 12pt;
        width: 40%;
    }
    .box-novidades div{
        height: calc(100% - 40px);
        width: 50%;
        right: -20px;
        top: 20px;
        left: auto;
        bottom: auto;
    }

    .box-novidades:nth-child(2){
        height: 200px;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        flex-direction: row-reverse;
    }
    .box-novidades:nth-child(2) div{
        height: calc(100% - 40px);
        width: 50%;
        display: flex;
        top: 20px;
        left: -20px;
        bottom: auto;
    }
}
@media (max-width: 650px){
    .container-all-content-cultureHome{
        margin-top: 70px;
        width: calc(90% - 60px);
        flex-direction: column;
    }
    .box-novidades{
        height: 130px;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        flex-direction: row;
    }
    .box-novidades p{
        font-size: 10pt;
        width: 50%;
    }
    .box-novidades div{
        height: calc(100% - 40px);
        width: 50%;
        right: -20px;
        top: 20px;
        left: auto;
        bottom: auto;
    }

    .box-novidades:nth-child(2){
        height: 130px;
        width: 100%;
    }
    .box-novidades:nth-child(2) div{
        height: calc(100% - 40px);
        width: 50%;
    }
}
@media (max-width: 400px){
    .mainDescServicesHome{
        width: 90%;
    }
}


.footer-main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--var-backgroundFooter);
    height: max-content;
}

.section-want-tea{
    height: 400px;
    width: 1200px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: -200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-want-tea > div:nth-child(1){
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-want-tea > div:nth-child(1) p{
    display: block;
    text-align: start;
    font-family: var(--var-fontSecundary);
    color: var(--var-mainColor);
    font-weight: 600;
    font-size: 45pt;
    width: 90%;
    margin-left: 50px;
}
.section-want-tea:hover > div:nth-child(1) p{
    color: #d53900;
}
.section-want-tea a:nth-child(2){
    width: 800px;
    height: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    position: absolute;
    right: -40%;
    padding-left: 100px;
    border: 2px solid var(--var-headerFontColor);
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}
.section-want-tea a:nth-child(2) p{
    text-decoration: none;
    font-family: var(--var-fontPrimary);
    font-size: 18pt;
    font-weight: 500;
}
.section-want-tea a:nth-child(2):hover{
    right: -35%;
    border-radius: 0%;
}

.container-items-footer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 250px;
    margin-bottom: 300px;
    width: 1200px;
}
.container-items-footer section:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 200px;
}
.container-items-footer section:nth-child(1) div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    gap: 15px;
}
.title-footer-links-main{
    font-family: var(--var-fontSecundary);
    font-size: 12pt;
    font-weight: 600;
    color: var(--var-mainColor);
}
.link-footer-main{
    text-decoration: none;
    color: white;
    font-family: var(--var-fontSecundary);
    font-size: 12pt;
    font-weight: 300;
    border-bottom: 2px solid var(--var-mainColor);
}

.container-items-footer section:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 200px;
}
.container-links-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.box-link-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    padding: 1px;
}
.link-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    height: 20px;
    width: 20px;
    border: 1px solid var(--var-mainColor);
}
.copy-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.copy-content div{
    text-align: right;
    color: white;
    font-family: var(--var-fontSecundary);
    font-size: 11pt;
    font-weight: 400;
}


@media (max-width: 1260px) {
    .clear-section-home{
        margin-bottom: 350px;
    }
    .section-want-tea{
        height: 340px;
        width: 800px;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        top: -170px;
    }
    .section-want-tea > div:nth-child(1) p{
        font-size: 35pt;
    }
    .section-want-tea a:nth-child(2){
        width: 500px;
        right: -30%;
        padding-left: 60px;
    }
    .section-want-tea a:nth-child(2) p{
        font-size: 15pt;
    }



    .container-items-footer{
        margin-top: 230px;
        width: 800px;
    }
    .container-items-footer section:nth-child(1){
        gap: 100px;
    }
    .title-footer-links-main{
        font-size: 12pt;
    }
    .link-footer-main{
        font-size: 11pt;
    }
    .container-items-footer section:nth-child(2){
        gap: 100px;
    }
    .container-links-social{
        gap: 15px;
    }
    .link-social{
        padding: 10px;
    }
    .link-social img{
        height: 20px;
        width: auto;
    }
    .copy-content div{
        text-align: right;
        color: white;
        font-family: var(--var-fontSecundary);
        font-size: 9pt;
        font-weight: 400;
    }
}

@media (max-width: 900px) {
    .clear-section-home{
        margin-bottom: 250px;
    }
    .section-want-tea{
        height: 300px;
        width: 600px;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        top: -150px;
    }
    .section-want-tea > div:nth-child(1) p{
        font-size: 25pt;
    }
    .section-want-tea a:nth-child(2){
        width: 300px;
        right: -20%;
        padding-left: 60px;
    }
    .section-want-tea a:nth-child(2) p{
        font-size: 12pt;
    }
    .section-want-tea a:nth-child(2) div img{
        height: 50px;
    }



    .container-items-footer{
        flex-direction: column;

        margin-top: 230px;
        width: 600px;
    }
    .container-items-footer section:nth-child(1){
        align-items: start;
        justify-content: center;
        width: 100%;
        gap: 50px;
    }
    .container-items-footer section:nth-child(2){
        gap: 100px;
        width: 100%;
        margin-top: 100px;
        align-items: center;
        justify-content: space-between;
    }
    .container-links-social{
        gap: 15px;
    }
    .link-social{
        padding: 10px;
    }
    .link-social img{
        height: 20px;
        width: auto;
    }
    .copy-content div{
        text-align: right;
        color: white;
        font-family: var(--var-fontSecundary);
        font-size: 9pt;
        font-weight: 400;
    }
}
@media (max-width: 660px) {
    .clear-section-home{
        margin-bottom: 200px;
    }
    .section-want-tea{
        height: 200px;
        width: 90%;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        top: -150px;
    }
    .section-want-tea > div:nth-child(1){
        width: 40%;
    }
    .section-want-tea > div:nth-child(1) p{
        font-size: 15pt;
    }
    .section-want-tea a:nth-child(2){
        width: 200px;
        right: -5%;
        padding-left: 50px;
    }
    .section-want-tea a:nth-child(2) p{
        font-size: 12pt;
    }
    .section-want-tea a:nth-child(2) div img{
        height: 50px;
    }



    .container-items-footer{
        flex-direction: column;

        margin-top: 230px;
        width: 100%;
    }
    .container-items-footer section:nth-child(1){
        align-items: start;
        justify-content: center;
        width: 100%;
        gap: 50px;
    }
    .container-items-footer section:nth-child(2){
        gap: 100px;
        width: 100%;
        margin-top: 100px;
        align-items: center;
        justify-content: space-between;
    }
    .container-links-social{
        gap: 15px;
    }
    .link-social{
        padding: 10px;
    }
    .link-social img{
        height: 20px;
        width: auto;
    }
    .copy-content div{
        text-align: right;
        color: white;
        font-family: var(--var-fontSecundary);
        font-size: 9pt;
        font-weight: 400;
    }
}
@media (max-width: 560px) {
    .clear-section-home{
        margin-bottom: 150px;
    }
    .section-want-tea{
        height: 150px;
        width: 90%;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        top: -75px;
    }
    .section-want-tea > div:nth-child(1){
        width: 40%;
    }
    .section-want-tea > div:nth-child(1) p{
        font-size: 12pt;
    }
    .section-want-tea a:nth-child(2){
        width: 300px;
        right: -35%;
        height: 200%;
        padding-left: 20px;
    }
    .section-want-tea a:nth-child(2) p{
        font-size: 12pt;
    }
    .section-want-tea a:nth-child(2) div img{
        height: 30px;
    }



    .container-items-footer{
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 100px;
        width: 100%;
    }
    .container-items-footer section:nth-child(1){
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 90%;
        gap: 50px;
    }
    .container-items-footer section:nth-child(2){
        gap: 100px;
        width: 90%;
        margin-top: 100px;
        align-items: start;
        justify-content: space-between;
    }
    .container-links-social{
        gap: 15px;
    }
    .link-social{
        padding: 10px;
    }
    .link-social img{
        height: 20px;
        width: auto;
    }
    .copy-content div{
        text-align: left;
        color: white;
        font-family: var(--var-fontSecundary);
        font-size: 9pt;
        font-weight: 400;
    }
}
@media (max-width: 410px) {
    .section-want-tea{
        height: 150px;
        width: 90%;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        top: -75px;
    }
    .section-want-tea > div:nth-child(1){
        width: 40%;
    }
    .section-want-tea > div:nth-child(1) p{
        font-size: 12pt;
        margin-left: 20px;
    }
    .section-want-tea a:nth-child(2){
        width: 300px;
        right: -50%;
        height: 200%;
        padding-left: 20px;
    }
    .section-want-tea a:nth-child(2) p{
        font-size: 12pt;
    }
    .section-want-tea a:nth-child(2) div img{
        height: 30px;
    }
}


/*página de serviços*/
.container-boxes-pageService{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.animated-text {
    opacity: 0.3;
    line-height: 2.5; /* Espaçamento inicial maior */
    transition: opacity 1s ease-out, line-height 1s ease-out;
    background: none; /* Remove o background */
}

.animated-text.active-animation {
    opacity: 1;
    line-height: 1.5; /* Espaçamento reduzido após a animação */
}